<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeRouting" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node"
      workingDirectory="C:\home\site\wwwroot"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      devErrorsEnabled="true"
      watchedFiles="*.js;node_modules\\*;routes\\*.js"
    />
  </system.webServer>
  <appSettings>
    <add key="DIAGNOSTICS_AZUREBLOBCONTAINERSASURL" value="disabled" />
    <add key="WEBSITE_AUTH_ENABLED" value="false" />
    <add key="PORT" value="8080" />
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="20.18.3" />
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration> 