<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="../index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js">
          <match url=".*"/>
          <action type="Rewrite" url="../index.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade;views\*.ejs;views\*.hbs;views\*.hjs;views\*.xml;views\*.tpl;views\*.html;web.config"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
      node_env="production"
      port="8080"
    />
  </system.webServer>
  <appSettings>
    <add key="DIAGNOSTICS_AZUREBLOBCONTAINERSASURL" value="disabled" />
    <add key="WEBSITE_AUTH_ENABLED" value="false" />
  </appSettings>
</configuration> 