@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto_Slab:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-latte: #F5EEE6;
  --color-bluegreen: #4AAE9B;
  --color-warmbrown: #A67C52;
  --color-skifer: #333F48;
  --color-softpink: #F8D9D6;
}

/* Bruk Google Fonts variabler */
html {
  font-family: var(--font-inter, sans-serif);
}

body {
  @apply bg-latte text-skifer font-sans;
}

a {
  @apply text-bluegreen hover:underline;
}

button {
  @apply focus:outline-none;
} 